<!DOCTYPE html>
<html>
  <head>
    <title>BookClub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('book-club.png')%>
  </head>

  <body>
   
    <section class="container">
     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
      <%= render "shared/topnav" %>
      <%= render "shared/sidenav" %>
      <section class="content">
        <%= yield %>
      </section>
    </section>
  </body>
</html>
